.login-register-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.login-register-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.login-register-form .form-control:focus {
    z-index: 2;
}
.login-register-form input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.login-register-form input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}